@import "tailwindcss";


:root {
    --primary: #99ac2a;
    --secondary: #ec6622;
  }

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  
  --color-primaryy: var(--primaryy);
  --color-secondaryy: var(--secondaryy);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #99ac2a;
    --secondary: #ec6622;
    --primaryy: #2A69AC;
    --secondaryy: #F27D42;
  }
}
body{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: monospace;
    letter-spacing: 1px;
    overflow-x: hidden;
}